extends layout

block main
  if todoLists === undefined || todoLists.length === 0
    p#no_list You don't have any todo lists. Why not create one?
  else
    p You have some lists. We need to list them.

block headerLinks
  .actions
    a.add(href="/lists/new") New List